.parent-container {
    background-color:white ;
    display: flex;
    height: 760px;
    margin-left: -8px;
    
  }
  .left-container
  {
  background-color:#f5f5f5;
  width:270px; 
  
  }
  
  .datePicker input[type="text"]
  {
  background-color: #ffffff;
  border-radius: 10px;
  border:none ;
  padding: 10px;
  width: 90px;
  margin-left: -10px;
  }
  .datePicker input[type="text"]:focus {
  outline: none ; /* Supprime l'ombre de focus */
  border: 2px;
  box-shadow: none;
  
   /* Ajoute une bordure bleue */
  }
  .datePicker
  {
    margin-left: 5px;
  }
  input[type="date"]
  {
  background-color: #ffffff;
  border-radius: 10px;
  border:none;
  width: 200px;
  padding: 10px;
  }
  .select
  {
  background-color: #ffffff;
  border-radius: 10px;
  border:none;
  width: 200px;
  padding: 10px;
  }
  .select:focus 
  {
    outline: none; /* Supprime l'ombre de focus */
    border: 2px solid #18B1AC; /* Ajoute une bordure bleue */
  }
  input[type="date"]:focus {
  outline: none; /* Supprime l'ombre de focus */
  border: 2px solid #18B1AC; /* Ajoute une bordure bleue */
  }
  .container-bar {
  background-color: #f5f5f5;
  padding: 10px 50px 10px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Ajoute une ombre */
  margin-left: 200px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  }
  .export-button {
  background-color: #18B1AC;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  width: 220px;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  left: 7%;
  
  
  }
  
  
  .fa-download {
  margin-right: 5px;
  }
  
  .right-container {
    height: 100vh;
    overflow-y: auto;
     width: 100%;
  }
  
    /* Change the appearance of the checkbox */
    input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50px;
      border: 4px solid #ccc;
      background-color: #fff;
      outline: none;
      cursor: pointer;
    }
  
    /* Change the appearance of the checkbox when checked */
    input[type="checkbox"]:checked {
      background-color: #18B1AC;
    }
    input[type="checkbox"]:disabled {
      opacity: 0.5; /* Reduce opacity to make it appear grayed out */
      cursor: not-allowed;
      background-color: #000101; /* Change cursor to indicate it's disabled */
    }
    
    label[for="myCheckbox"] {
      margin-left: 5px;
      font-size: 16px;
      color: #333;
    }
  
  
    .container-tab {
      background-color: #f5f5f5;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Ajoute une ombre */
      margin-left: 150px;
      margin-right: 150px;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 970px;
      }
     
      