.sidebar-container {
  display: flex;
  height: 100vh;
  text-decoration: none; /* Enlever la décoration de texte par défaut */
  border-bottom: none;
}

.sidebar-logo  img {
  margin-top: 10PX;
  margin-bottom: 30px;
  width: 80px;
  height: 70px;

}

.sidebar {
  background-color: #0f2b4a;
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: space-between; /* Ajout de cette propriété */
  align-items: center;
}

.sidebar-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-icon.logout-icon { 
  position: fixed;
  bottom: 0px;
}

  


.sidebar-icon.active {
  background-color: #f5f5f5; /*Changer la couleur du fond du lien actif en gris*/
  color:  #0f2b4a; /*Changer la couleur du texte en blanc pour le lien actif*/
  width: 500%;
  
}

.sidebar-container.dark-mode {
  background-color: #333;
  color: #fff;
}
.dark-mode-toggle {
  color: white;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color:#fff;
  cursor: pointer;
  transition: color,background-color, box-shadow 0.3s ease-in-out;

}
.sidebar.dark-mode {
  background-color: #001736;
  color: #fff;
}

.dark-mode-toggle:hover {
background-color:none;
color: #fff;
}

.dark-mode-toggle.active {
background-color: #000;
color: #fff;
}

.dark-mode-toggle .toggle-icon {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
margin-right: 10px;
}
.dark-mode-toggle .toggle-icon #faMoon {
  display: none;
}

.dark-mode-toggle.active .toggle-icon #faMoon {
  display: inline;
}

.dark-mode-toggle .toggle-icon #faSun {
  display: inline;
}

.dark-mode-toggle.active .toggle-icon #faSun {
  display: none;
}

.dark-mode-toggle .toggle-text {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}
@media only screen and (max-width:745px) {
  .sidebar-container {
    display: flex;
    background-color: #0f2b4a;
    height: 100vh;
    width: 130%;
    text-decoration: none; /* Enlever la décoration de texte par défaut */
    border-bottom: none;
  }
  
  .sidebar-logo img {
    margin-top: 0;
    display: none;
  
  }
  
  .sidebar {
    /* Modifier cette valeur pour ajuster la largeur du sidebar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }
  
  
  .sidebar-icon {
    color: white;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Enlever la décoration de texte par défaut */
    border-bottom: none;
  }
  
  .sidebar-icon.active {
    background-color: #f5f5f5; /*Changer la couleur du fond du lien actif en gris*/
    color:  #0f2b4a; /*Changer la couleur du texte en blanc pour le lien actif*/
    padding: 10%;
  }
  .sidebar-container.dark-mode {
    background-color: #d5d3d3;
    color: #fff;
  }
  .dark-mode-toggle {
    color: white;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color:#fff;
    cursor: pointer;
    transition: color,background-color, box-shadow 0.3s ease-in-out;
  
  }
  
  .dark-mode-toggle:hover {
  background-color:none;
  color: #fff;
  }
  
  .dark-mode-toggle.active {
  background-color: #000;
  color: #fff;
  }
  
  .dark-mode-toggle .toggle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 10px;
  }
  .dark-mode-toggle .toggle-icon #faMoon {
    display: none;
  }
  
  .dark-mode-toggle.active .toggle-icon #faMoon {
    display: inline;
  }
  
  .dark-mode-toggle .toggle-icon #faSun {
    display: inline;
  }
  
  .dark-mode-toggle.active .toggle-icon #faSun {
    display: none;
  }
  
  .dark-mode-toggle .toggle-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  }
}