.container {
  padding: 20px;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 800px;
  position: relative;
  border-radius: 10px;
  height: 100%;
  background-color: #ffffff;
  
}
.checkbox-role input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}

/* Change the appearance of the checkbox when checked */
.checkbox-role input[type="checkbox"]:checked {
  background-color: #18B1AC;
}
.checkbox-role input[type="checkbox"]:disabled {
  opacity: 0.5; /* Reduce opacity to make it appear grayed out */
  cursor: not-allowed;
  background-color: #000101; /* Change cursor to indicate it's disabled */
}

.checkbox-role label[for="myCheckbox"] {
  margin-left: 5px;
  font-size: 16px;
  color: #333;
}

.container-ajouter {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 20px;
  padding-bottom: 30px;
  
  


  margin-top: 4%;
  margin-bottom: 4%;
  
  margin-right: auto;
  width: 60%;
  position: relative;
  border-radius: 10px;

  background-color: #ffffff;
 
}

h2 {
  text-align: center;
  color: #0f2b4a;
}

.form-containe {
  margin-bottom: 30px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width:720px;
  box-sizing: border-box;
}
.form-container-modifier
{
  margin-left:-40px;
  margin-right:30px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width:320px;

}

.label {
  display: block;
  margin-bottom: 10px;
  text-align: right; /* Ajouter cette ligne */
  color: #0f2b4a;
  width: 150px; /* Ajouter cette ligne avec la largeur souhaitée */
}

.input-field {
  flex: 1;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(14, 13, 13, 0.1);
  border-radius: 5px;
  padding: 10px 40px 10px 40px;
}

.input-container {
  position: relative;
  width: 100%;

} 

input[type="text"]:focus {
  outline: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;

}


.right-ajouter{
  height: 100vh;
  overflow-y: auto;
   width: 100%;
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  color: #c3c1c1;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
}


.submit-btn {
    padding: 15px 20px;
    margin-top: 20px;
    border-radius: 5px;
    border:none;
    color: floralwhite;
   background-color: #18B1AC;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

