.profile-container {
display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding-left: 20%;
 padding-right: 20%;
 height: 650px;
 min-width: 500px;
 max-width: 1200px;
 width: 70%;
 box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
 margin-top: 4%;
 margin-left: auto;
 margin-right: auto;
 background-color: #ffffff;
 border-radius: 10px;
 min-height: 600px;
 max-width: 600px; /*ajout pour limiter la largeur maximale de la boîte*/
}
.name-container h2
{
 color: #0f2b4a;

}
@media screen and (max-width: 768px) {
 .profile-container {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
 }
}

@media screen and (max-width: 576px) {
 .profile-container {
   width: 95%;
   margin-left: auto;
   margin-right: auto;
 }
}

.user-icon {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100px;
 height: 100px;
 border-radius: 50%;
 background-color: #18B1AC;
 color: white;
 margin-bottom: 20px;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-decoration: none;
 border-bottom: none;
 font-size: 50px;
}

.form-group {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 padding: 1%;
}

.form-group label {
 margin-top: 30px;
 float: left;
 color: #0f2b4a;
 font-size: 17px;

 
}

.form-group input[type="password"]
{
 margin-bottom: 20px;
 padding: 10px;
 font-size: 16px;
 border-radius: 5px;
 border: 1px solid #ccc;
 width: 100%;

 box-sizing: border-box;
}
.form-group input[type="text"] {
 margin-bottom: 50px;
 padding: 10px;
 font-size: 16px;
 border-radius: 5px;
 border: 1px solid #ccc;
 width: 690px;
 box-sizing: border-box;
}



.form-row {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.form-row-child {
 flex-grow: 1;
 margin-right: 10px;
}

.submit-mdp {
 padding: 15px 20px;
 margin-top: 20px;
 border-radius: 5px;
 border:none;
 color: floralwhite;
background-color: #18B1AC;
 font-size: 16px;
 cursor: pointer;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
}


@media screen and (max-width: 576px) {
 .form-group input[type="text"] {
   margin-bottom: 50px;
   padding: 10px;
   font-size: 16px;
   border-radius: 5px;
   border: 1px solid #ccc;
   width: 400px;
   box-sizing: border-box;
 }
}

@media screen and (max-width: 768px) {
 .form-group {
   flex-direction: column;
 }
 .form-group input[type="text"] {
   margin-bottom: 50px;
   padding: 10px;
   font-size: 16px;
   border-radius: 5px;
   border: 1px solid #ccc;
   width: 200px;
   box-sizing: border-box;
 }
 .form-row-child {
   margin-right: 0px;
   margin-bottom: 10px;
 }
}