/* styles for the container of the iframe and sidebar */
.container-rejeu {
  background-color:white ;
  display: flex;
  height: 760px;
  margin-left: -8px;
}

.sidebar-rejeu {
  background-color:#f5f5f5;
  width:230px; 
}

.iframe-container {
  flex: 1;
  height: calc(100vh - 20px); /* adjust this value according to your needs */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styles for the iframe */
.iframe-container iframe {
  width: 100%; /* adjust this value according to your needs */
  height: 100%; /* adjust this value according to your needs */
  border: none;
}
