
.sidebar h3 {
  padding: 16px;
  margin: 0;
  font-size: 1.2rem;
}

input[type="date"]{
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
input[type="date"]:focus {
  outline: none; /* Supprime l'ombre de focus */
  border: 2px solid #18B1AC; /* Ajoute une bordure bleue */
  }
  .submit-rejeu {
    background-color: #18B1AC;
    color: #fff;
    border-radius: 10px;
    border: 2px;
    width: 90%;
    padding: 5px 5px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-rejeu:hover {
    background-color: #18B1AC;
  }