body {
  background-color: #f5f5f5;
}
.form-container-login {
  margin: 30px auto;
  width: 1200px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form-content-left{
  
  position: relative;

    
 
}

.form-content-left img{
  width: 100%;
  height: 100%;
  position: absolute;

}

.form-content-right{
  border-radius: 0 10px 10px 0;
  background-color: #fff;
  position: relative;
}

.form {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form h1 {
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 15%;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  color: #0f2b4a;
}

.input-login {
    width: 130%;
    padding: 10px;
    margin: 10px 0;
   
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(14, 13, 13, 0.1);
  }
  
  
 .submit-login{
    width: 153%;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(to right, #0f2b4a, #163760);
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
  
  .submit-login:hover {
    cursor: pointer;
    background-color: #0f2b4a;
  }
  
 
  .input-container-login {
    position: relative;
    width: 123%;

  }
  
  .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }
  
  .username-input-login  {
    width: 100%;
    height: 40px;
    padding: 10px 40px 10px 40px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  
  }
  
  .username-input-login:focus {
    outline: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;

  }
  
  .icon + .username-input-login{
    padding-left: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    
  }
  .icon
  {
    color: #c3c1c1;
  }
  .logo-container {
  position: absolute;
  top: 0;
  margin-top: 2%;
  margin-right: -14%;
  right: 0;
  width: 100px;
  height: 100px;
}

.logo {
  width: 100%;
  height: 60%;
}
